/node_modules
/public/hot
/public/storage
/storage/*.key
#/vendor - It's time-consuming, but I prefer to commit the whole folder as is.
#I never use database migrations.
/database
/node_modules
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
